<div class="row new-entity">
	<div class="col s12 m12 l10">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<h4 class="card-title view-heading ">Course Details</h4>
				<p class="view-label">Code: <span class="code-bold"><%= @course.code %></span></p>

                <p class="sml-pad-top"><%= @course.name %></p>
                <p class="view-label sml-pad-top">Description:</p>
                <p><%= @course.description %></p>
				<div class="row med-pad-top">
					<div class="col s12">
                        <%= link_to "Edit", edit_course_path(@course), class: "btn waves-effect waves-light" %>			
                        <%= link_to "Course List", root_path, class: "btn waves-effect waves-light" %>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>