<header>
  <!-- Dropdown Menu Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Edit</a></li>
    <li><a href="#!">Permissions</a></li>
    <li class="divider"></li>
    <li><a href="#!">Payment</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Edit</a></li>
    <li><a href="#!">Permissions</a></li>
    <li class="divider"></li>
    <li><a href="#!">Payment</a></li>
  </ul>
  <ul id="dropdown-course1" class="dropdown-content">
    <li><%= link_to "Create Course", new_course_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Course Listing", root_path %></li>
  </ul>
  <ul id="dropdown-course2" class="dropdown-content">
    <li><%= link_to "Create Course", new_course_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Course Listing", root_path %></li>
  </ul>
  <ul id="dropdown-student1" class="dropdown-content">
    <li><%= link_to "Student Register", new_student_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Student Listing", students_path %></li>
  </ul>
  <ul id="dropdown-student2" class="dropdown-content">
    <li><%= link_to "Student Register", new_student_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Student Listing", students_path %></li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to "My University<i class=\"material-icons right\">school</i>".html_safe, root_path, class: "brand-logo" %>
        <a href="" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger dropdown-head-wide" href="" data-target="dropdown-student1">Students<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger dropdown-head-wide" href="" data-target="dropdown-course1">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger dropdown-head-wide" href="" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-menu">
    <li><a class="dropdown-trigger" href="" data-target="dropdown-student2">Students<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-trigger" href="" data-target="dropdown-course2">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-trigger" href="" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>

  <!-- Flash messages display here -->
  <% if flash.any? %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row fade-out-target">
          <div class="col s12 m12 l12">
            <% if name == "success" %>
              <div class="card-panel green lighten-3">
            <% else %>
              <div class="card-panel red lighten-3">
            <% end %>
                <%= msg %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
  <% end %>
</header>